name: Mirror
description: Pushes new code to external mirrors

permissions: {}

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  codeberg:
    name: Codeberg

    runs-on: ubuntu-latest

    permissions:
      contents: read # Required for actions/checkout

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Push to Codeberg
        uses: pixta-dev/repository-mirroring-action@674e65a7d483ca28dafaacba0d07351bdcc8bd75 # v1.1.1
        with:
          target_repo_url: 'git@codeberg.org:BYU-CS-Discord/CSBot.git'
          ssh_private_key: ${{ secrets.CODEBERG_PUSH_KEY }}
