name: Code Mirror
# Pushes new code to external mirrors

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Push to Codeberg
        uses: pixta-dev/repository-mirroring-action@v1.1.1
        with:
          target_repo_url: 'git@codeberg.org:BYU-CS-Discord/CSBot.git'
          ssh_private_key: ${{ secrets.CODEBERG_PUSH_KEY }}
